@mixin dimension($val, $vil){
	width: $val;
	height: $vil;
}

@mixin box-sizing($val){
	box-sizing: $val;
	-moz-box-sizing: $val; /*Firefox 1-3*/
	-webkit-box-sizing: $val; /* Safari */
}

@function substraction($some-number, $another-number){
	@return $some-number + $another-number
}

@mixin transition($val){
	-webkit-transition: all ease-out $val;
	-moz-transition: all ease-out $val;
	-o-transition: all  ease-out $val;
	transition: all ease-out $val;
}

@mixin border-radius($val){
	-webkit-border-radius: $val;
	-moz-border-radius: $val;
	-o-border-radius: $val;
	border-radius: $val;
}
  

@font-face {
	font-family: A_Bold;
	src: url("../fonts/aileron/Aileron-Bold.otf") format("opentype");
}
@font-face {
	font-family: A_Regular;
	src: url("../fonts/aileron/Aileron-Regular.otf") format("opentype");
} 
@font-face {
	font-family: A_Light;
	src: url("../fonts/aileron/Aileron-Light.otf") format("opentype");
}
@font-face {
	font-family: A_Thin;
	src: url("../fonts/aileron/Aileron-Thin.otf") format("opentype");
}

.s_top_nav {
	height: 70px;
	width: 100%;
	display: block;
	position: relative;

	ul.s_first_level_menu {
		float: right;
		padding-left: 0px;
		margin-bottom: 0px;
		li {
			list-style-type: none;
			float: left;
			a {

			}
		}
	}
}